/* backgrounds */

.background0 {
  height: 100vh;
  width: 100vw;
  background: #7ed6df;
  position: absolute;
  z-index: 0;
}

/* sections */

.container-header {
  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 200;
}

.container-presentation {
  text-align: center;
  margin: 80px 0;
}

.space {
  height: 200px;
  width: 100%;
}

.container_section {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  background: red;
  top: 0px;
}