.custom_container {
  min-height: 100vh;
}

.image_info {
  max-width: 400px;
  max-height: 400px;
  margin-top: 4rem;
}
@media (max-width: 460px) {
  .image_info {
    max-width: 240px;
    max-height: 240px;
  }
}

.title_info {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 4rem auto 1rem 0;
  padding: 0;
  text-align: start;
  line-height: 3rem;
}
@media (max-width: 460px) {
  .title_info {
    font-size: 2.7rem;
    margin: 0.5rem auto 1rem 0;
    text-align: center;
  }
}

.text_info {
  display: inline;
  text-align: start;
  margin: 0 auto 0 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
}
@media (max-width: 460px) {
  .text_info {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.showAnimate {
  animation: show 2.5s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
