.wrapper {
  width: 320px;
  height: 240px;
}

@media (max-width: 360px) and (min-width: 479px) {
  .wrapper {
    width: 320px;
    height: 240px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 400px;
    height: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1079px) {
  .wrapper {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1080px) {
  .wrapper {
    width: 100%;
    height: 400px;
  }
}
