/* presentation */

.presentation_title {
  font-size: var(--fontsize-title);
  font-weight: 700;
  margin-top: 2rem;
  color: var(--text-color);
  text-align: center;
}

@media (max-width: 767px) {
  .presentation_title {
    margin-top: 1rem;
  }
  .presentation_btn {
    margin: 0.3rem 1.5rem;
  }
}

.presentation_description {
  font-size: var(--fontsize-description);
  font-weight: 300;
  line-height: 2rem;
  color: var(--text-color);
  text-align: center;
  width: 50%;
  padding: 2rem 0;
  margin: 0.5rem 0.8rem;
}
@media (max-width: 767px) {
  .presentation_description {
    padding: 1rem 0;
    margin: 0.3rem 0.8rem;
    width: 100%;
  }
}

/* buttons */

.presentation_btn {
  padding: 0.8rem 1.3rem;
  font-size: var(--fontsize-button);
  font-weight: 500;
  border-radius: 2rem;
  border: none;
  margin: 1.5rem 1.5rem;
}
@media (max-width: 767px) {
  .presentation_btn {
    margin: 0.3rem 1.5rem;
  }
}

.presentation_btn:hover {
  cursor: pointer;
}

.presentation_btn:focus {
  outline: 0;
}

.btn_find_home {
  background: #fff;
  border: 1px solid #ccc;
}

.btn_post_apartment {
  color: #fff;
  background: #000;
}

.btn_find_home:hover {
  color: var(--text-hover-btn);
  box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
  -webkit-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
}

.btn_post_apartment:hover {
  background: #36393f;
  box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
  -webkit-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
}

.presentation_btn_icon {
  padding-right: 0.5rem;
}

.container_btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
