* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --fontsize-title-logo: 1.4rem;
  --fontsize-nav-item: 1rem;
  --fontsize-title: 3rem;
  --fontsize-description: 1.6rem;
  --fontsize-button: 1.2rem;
  --text-color: #000;
  --text-hover-btn: #3498db;
  --text-hover-nav: #fff;
}